// colors

$event-color-1: #b8336a;
$event-color-2: #726da8;
$event-color-3: #7d8cc4;
$event-color-4: #a0d2db;
$event-color-5: #c490d1;

$text-color: #222222;
$border-color: #EAEAEA;
$bg-color: white;
$link-color: white;

// fonts 

$primary-font: 'Source Sans Pro', sans-serif;

//colum number

$columns-number: 7;
$row-height: 25px;